---
---

@import "{{ site.theme }}";

// Header bar (make it ns-3 green)
.page-header {
  background-color: #1b3b1b; // dark green base
  background-image: linear-gradient(120deg, #4caf50, #1b3b1b); // green gradient
  color: #ffffff; // make heading readable
}


// Buttons (e.g., "View on GitHub")
.btn {
  background-color: #228B22; /* Forest Green */
  border: none;
  color: white;
}

.btn:hover {
  background-color: #2E8B57; /* Sea Green */
}

// Body text
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
  background-color: #f5f7fa; // Fallback for older browsers
  background-image: linear-gradient(to top left, #c3cfe2 0%, #f5f7fa 100%);
}


// Links
a {
  color: #006400;
}

a:hover {
  color: #2E8B57;
}
